#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: blue;
    /* 
    Static position mean's it's in it's normal state 
    Relative position mean's there's a point of origin it will adjust too
    Absolute will have it's taken out of the document and make it anchored.  
    Aboluste will search for a parent that is static or relatviely
    Fixed will stay wherever you put it in it's viewport.  
    Then there's sticky.  Sticky will be stuck to whatever viewport when moving 
    */
    position: relative;
    left: 250px;


}

#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;

    position: absolute;

    top: 100px;
    left: 100px;


}